:root {
  --primary-color: #f0f0f0;
  --secondary-color: #616161;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', cursive;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

ul li {
  list-style: none;
}

/* Utililties */
.btn-primary {
  padding: 20px;
  margin: 20px;
  border: var(--primary-color) solid 1px;
  border-radius: 2%;
}

#navbar {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  z-index: 5;
}

#navbar ul {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

#navbar li {
  padding: 0 20px;
}

#navbar a {
  transition: border-bottom 0.2s;
}

#navbar a:hover {
  border-bottom: solid 3px #ffe396;
  color: #ffe396;
}

#welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: url('../img/clouds.jpg') no-repeat center center/cover;
  height: 100vh;
  color: var(--primary-color);
}

#quote {
  padding-top: 20px;
}

#bio {
  color: var(--secondary-color);
}

#bio #bio-head {
  text-align: center;
  padding: 1rem;
  padding-bottom: 0.5rem;
  color: var(--secondary-color);
}

.border-bottom {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  border-top: var(--secondary-color) 3px solid;
  text-align: center;
  padding-bottom: 1rem;
}

#bio-sections div {
  padding: 2rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

#history {
  background-color: #ffe396;
}

#schooling {
  background-color: #ff9b96;
}

#work {
  background-color: #96ff9a;
}
#hobbies {
  background-color: #96afff;
}

#bio-sections div:nth-child(odd) {
  margin-left: 20rem;
}

#bio-sections div:nth-child(even) {
  margin-right: 20rem;
}

#bio-sections div p {
  display: none;
}

.extend {
  visibility: visible !important;
  display: block !important;
}

#contact {
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--secondary-color);
}

.flex-1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--primary-color);
}

#contact #email {
  text-align: center;
}

.contact-link a {
  transition: color ease-in 0.2s;
}

.contact-link a:hover {
  cursor: pointer;
  color: #ffe396;
}

@media (max-width: 768px) {
  #navbar {
    flex-direction: column;
  }

  #navbar ul {
    padding: 1rem;
  }

  #welcome h1 {
    text-align: center;
    width: 400px;
  }

  #bio-sections div {
    text-align: center;
  }

  #bio-sections div:nth-child(odd) {
    margin-left: 0rem;
  }

  #bio-sections div:nth-child(even) {
    margin-right: 0rem;
  }
}
