* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(204, 204, 204);
}

.btn {
  font-size: medium;
  padding: 1rem;
  margin: 0.5rem;
  border: none;
  background-color: rgb(145, 145, 145);
  color: #fff;
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(124, 124, 124);
}

.btn-red {
  font-size: medium;
  padding: 1rem;
  margin: 0.5rem;
  border: none;
  background-color: rgb(255, 106, 106);
  color: #fff;
  border-radius: 5px;
}

.btn-red:hover {
  cursor: pointer;
  background-color: rgb(252, 72, 72);
}

.btn-blue {
  font-size: medium;
  padding: 1rem;
  margin: 0.5rem;
  border: none;
  background-color: rgb(109, 123, 252);
  color: #fff;
  border-radius: 5px;
}

.btn-blue:hover {
  cursor: pointer;
  background-color: rgb(72, 120, 252);
}

.btn-orange {
  font-size: medium;
  padding: 1rem;
  margin: 0.5rem;
  border: none;
  background-color: rgb(252, 173, 109);
  color: #fff;
  border-radius: 5px;
}

.btn-orange:hover {
  cursor: pointer;
  background-color: rgb(252, 129, 72);
}

.container {
  font-family: 'Orbitron', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.calc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  width: 300px;
  height: 500px;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(99, 99, 99);
}

.calc-screen {
  width: 100%;
}

#screen {
  width: 87%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  border: none;
  font-size: xx-large;
  text-align: right;
  background-color: rgb(236, 236, 236);
}

#screen:focus {
  border: none;
}

.calc-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 90%;
}

.brand {
  color: #fff;
  font-size: large;
  font-weight: bold;
  padding-top: 1rem;
}

#main-footer {
  font-family: 'Orbitron', sans-serif;
  padding-top: 3rem;
  text-align: center;
  font-size: 12px;
}
