body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #8a8a8a;
}

button {
  background-color: #fff;
  border: #d4d4d4 1px solid;
  padding: 1rem;
  font-size: 14px;
  font-weight: bold;
  color: #8a8a8a;
  border-radius: 0.5rem;
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  padding: 1rem 0rem 1rem 0rem;
  border-bottom: #d4d4d4 1px solid;
  margin-right: 5rem;
}

th {
  text-align: left;
  border-bottom: 1px solid #d4d4d4;
  padding-bottom: 1rem;
}

table {
  width: 100%;
}

td {
  padding: 0.5rem 0;
}
